src/conf/xml-resources/web-service-references/WSSistema/wsdl/localhost_8080/ServerCentral/WSSistema.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="WSSistema">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/ServerCentral/WSSistema?xsd=1"/>
</xsd:schema>
</types>
<message name="AltaActividadTuristica">
<part name="parameters" element="tns:AltaActividadTuristica"/>
</message>
<message name="AltaActividadTuristicaResponse">
<part name="parameters" element="tns:AltaActividadTuristicaResponse"/>
</message>
<message name="modificarDatosUsuario">
<part name="parameters" element="tns:modificarDatosUsuario"/>
</message>
<message name="modificarDatosUsuarioResponse">
<part name="parameters" element="tns:modificarDatosUsuarioResponse"/>
</message>
<message name="UsuarioNoExisteException">
<part name="fault" element="tns:UsuarioNoExisteException"/>
</message>
<message name="verInfoUsuario">
<part name="parameters" element="tns:verInfoUsuario"/>
</message>
<message name="verInfoUsuarioResponse">
<part name="parameters" element="tns:verInfoUsuarioResponse"/>
</message>
<message name="getUsuarios">
<part name="parameters" element="tns:getUsuarios"/>
</message>
<message name="getUsuariosResponse">
<part name="parameters" element="tns:getUsuariosResponse"/>
</message>
<message name="AltaSalidaTuristicaDepto">
<part name="parameters" element="tns:AltaSalidaTuristicaDepto"/>
</message>
<message name="AltaSalidaTuristicaDeptoResponse">
<part name="parameters" element="tns:AltaSalidaTuristicaDeptoResponse"/>
</message>
<message name="ConsultaActTuristica">
<part name="parameters" element="tns:ConsultaActTuristica"/>
</message>
<message name="ConsultaActTuristicaResponse">
<part name="parameters" element="tns:ConsultaActTuristicaResponse"/>
</message>
<message name="confirmarInscripcion">
<part name="parameters" element="tns:confirmarInscripcion"/>
</message>
<message name="confirmarInscripcionResponse">
<part name="parameters" element="tns:confirmarInscripcionResponse"/>
</message>
<message name="selectDepartamento">
<part name="parameters" element="tns:selectDepartamento"/>
</message>
<message name="selectDepartamentoResponse">
<part name="parameters" element="tns:selectDepartamentoResponse"/>
</message>
<message name="selectActividad">
<part name="parameters" element="tns:selectActividad"/>
</message>
<message name="selectActividadResponse">
<part name="parameters" element="tns:selectActividadResponse"/>
</message>
<message name="selectPaquete">
<part name="parameters" element="tns:selectPaquete"/>
</message>
<message name="selectPaqueteResponse">
<part name="parameters" element="tns:selectPaqueteResponse"/>
</message>
<message name="inscripcionSalida">
<part name="parameters" element="tns:inscripcionSalida"/>
</message>
<message name="inscripcionSalidaResponse">
<part name="parameters" element="tns:inscripcionSalidaResponse"/>
</message>
<message name="getObjectsFromDB">
<part name="parameters" element="tns:getObjectsFromDB"/>
</message>
<message name="getObjectsFromDBResponse">
<part name="parameters" element="tns:getObjectsFromDBResponse"/>
</message>
<message name="estaSeguidofromDB">
<part name="parameters" element="tns:estaSeguidofromDB"/>
</message>
<message name="estaSeguidofromDBResponse">
<part name="parameters" element="tns:estaSeguidofromDBResponse"/>
</message>
<message name="confirmarCreacionPaquete">
<part name="parameters" element="tns:confirmarCreacionPaquete"/>
</message>
<message name="confirmarCreacionPaqueteResponse">
<part name="parameters" element="tns:confirmarCreacionPaqueteResponse"/>
</message>
<message name="registrarUsuario">
<part name="parameters" element="tns:registrarUsuario"/>
</message>
<message name="registrarUsuarioResponse">
<part name="parameters" element="tns:registrarUsuarioResponse"/>
</message>
<message name="UsuarioRepetidoException">
<part name="fault" element="tns:UsuarioRepetidoException"/>
</message>
<message name="InscribirTurAPaquete">
<part name="parameters" element="tns:InscribirTurAPaquete"/>
</message>
<message name="InscribirTurAPaqueteResponse">
<part name="parameters" element="tns:InscribirTurAPaqueteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="estaInscritoTuristaSalida">
<part name="parameters" element="tns:estaInscritoTuristaSalida"/>
</message>
<message name="estaInscritoTuristaSalidaResponse">
<part name="parameters" element="tns:estaInscritoTuristaSalidaResponse"/>
</message>
<message name="excedeLimiteInscripcion">
<part name="parameters" element="tns:excedeLimiteInscripcion"/>
</message>
<message name="excedeLimiteInscripcionResponse">
<part name="parameters" element="tns:excedeLimiteInscripcionResponse"/>
</message>
<message name="obtenerSalidasInscritasTurista">
<part name="parameters" element="tns:obtenerSalidasInscritasTurista"/>
</message>
<message name="obtenerSalidasInscritasTuristaResponse">
<part name="parameters" element="tns:obtenerSalidasInscritasTuristaResponse"/>
</message>
<message name="validarCredenciales">
<part name="parameters" element="tns:validarCredenciales"/>
</message>
<message name="validarCredencialesResponse">
<part name="parameters" element="tns:validarCredencialesResponse"/>
</message>
<message name="verInfoUsuarioNick">
<part name="parameters" element="tns:verInfoUsuarioNick"/>
</message>
<message name="verInfoUsuarioNickResponse">
<part name="parameters" element="tns:verInfoUsuarioNickResponse"/>
</message>
<message name="getAllPaqsFromBD">
<part name="parameters" element="tns:getAllPaqsFromBD"/>
</message>
<message name="getAllPaqsFromBDResponse">
<part name="parameters" element="tns:getAllPaqsFromBDResponse"/>
</message>
<message name="getAllActsFromBD">
<part name="parameters" element="tns:getAllActsFromBD"/>
</message>
<message name="getAllActsFromBDResponse">
<part name="parameters" element="tns:getAllActsFromBDResponse"/>
</message>
<message name="infoActividad">
<part name="parameters" element="tns:infoActividad"/>
</message>
<message name="infoActividadResponse">
<part name="parameters" element="tns:infoActividadResponse"/>
</message>
<message name="getSalidaByNombre">
<part name="parameters" element="tns:getSalidaByNombre"/>
</message>
<message name="getSalidaByNombreResponse">
<part name="parameters" element="tns:getSalidaByNombreResponse"/>
</message>
<message name="getTipo">
<part name="parameters" element="tns:getTipo"/>
</message>
<message name="getTipoResponse">
<part name="parameters" element="tns:getTipoResponse"/>
</message>
<message name="getAllCatsFromBD">
<part name="parameters" element="tns:getAllCatsFromBD"/>
</message>
<message name="getAllCatsFromBDResponse">
<part name="parameters" element="tns:getAllCatsFromBDResponse"/>
</message>
<message name="getAllActsFromPaqFromBD">
<part name="parameters" element="tns:getAllActsFromPaqFromBD"/>
</message>
<message name="getAllActsFromPaqFromBDResponse">
<part name="parameters" element="tns:getAllActsFromPaqFromBDResponse"/>
</message>
<message name="infoPaquete">
<part name="parameters" element="tns:infoPaquete"/>
</message>
<message name="infoPaqueteResponse">
<part name="parameters" element="tns:infoPaqueteResponse"/>
</message>
<message name="getAllActsdeCatFromBD">
<part name="parameters" element="tns:getAllActsdeCatFromBD"/>
</message>
<message name="getAllActsdeCatFromBDResponse">
<part name="parameters" element="tns:getAllActsdeCatFromBDResponse"/>
</message>
<message name="getAllDepFromBD">
<part name="parameters" element="tns:getAllDepFromBD"/>
</message>
<message name="getAllDepFromBDResponse">
<part name="parameters" element="tns:getAllDepFromBDResponse"/>
</message>
<message name="getAllActsdeDepFromBD">
<part name="parameters" element="tns:getAllActsdeDepFromBD"/>
</message>
<message name="getAllActsdeDepFromBDResponse">
<part name="parameters" element="tns:getAllActsdeDepFromBDResponse"/>
</message>
<message name="selectActFromDB">
<part name="parameters" element="tns:selectActFromDB"/>
</message>
<message name="selectActFromDBResponse">
<part name="parameters" element="tns:selectActFromDBResponse"/>
</message>
<message name="getAllCatsdeActFromBD">
<part name="parameters" element="tns:getAllCatsdeActFromBD"/>
</message>
<message name="getAllCatsdeActFromBDResponse">
<part name="parameters" element="tns:getAllCatsdeActFromBDResponse"/>
</message>
<message name="selectCatFromDB">
<part name="parameters" element="tns:selectCatFromDB"/>
</message>
<message name="selectCatFromDBResponse">
<part name="parameters" element="tns:selectCatFromDBResponse"/>
</message>
<message name="getAllPaqsdeActFromBD">
<part name="parameters" element="tns:getAllPaqsdeActFromBD"/>
</message>
<message name="getAllPaqsdeActFromBDResponse">
<part name="parameters" element="tns:getAllPaqsdeActFromBDResponse"/>
</message>
<message name="getAllSaldeActFromBD">
<part name="parameters" element="tns:getAllSaldeActFromBD"/>
</message>
<message name="getAllSaldeActFromBDResponse">
<part name="parameters" element="tns:getAllSaldeActFromBDResponse"/>
</message>
<message name="getSalidaFromBD">
<part name="parameters" element="tns:getSalidaFromBD"/>
</message>
<message name="getSalidaFromBDResponse">
<part name="parameters" element="tns:getSalidaFromBDResponse"/>
</message>
<message name="getPaqFromBD">
<part name="parameters" element="tns:getPaqFromBD"/>
</message>
<message name="getPaqFromBDResponse">
<part name="parameters" element="tns:getPaqFromBDResponse"/>
</message>
<message name="getAllPaqsConActFromBD">
<part name="parameters" element="tns:getAllPaqsConActFromBD"/>
</message>
<message name="getAllPaqsConActFromBDResponse">
<part name="parameters" element="tns:getAllPaqsConActFromBDResponse"/>
</message>
<message name="getAllCatFromPaqFromBD">
<part name="parameters" element="tns:getAllCatFromPaqFromBD"/>
</message>
<message name="getAllCatFromPaqFromBDResponse">
<part name="parameters" element="tns:getAllCatFromPaqFromBDResponse"/>
</message>
<message name="TurConPaqFromBD">
<part name="parameters" element="tns:TurConPaqFromBD"/>
</message>
<message name="TurConPaqFromBDResponse">
<part name="parameters" element="tns:TurConPaqFromBDResponse"/>
</message>
<message name="mergeInscrPaq">
<part name="parameters" element="tns:mergeInscrPaq"/>
</message>
<message name="mergeInscrPaqResponse">
<part name="parameters" element="tns:mergeInscrPaqResponse"/>
</message>
<message name="listarPaqInscritoTurContieneAct">
<part name="parameters" element="tns:listarPaqInscritoTurContieneAct"/>
</message>
<message name="listarPaqInscritoTurContieneActResponse">
<part name="parameters" element="tns:listarPaqInscritoTurContieneActResponse"/>
</message>
<message name="listarDepartamentos">
<part name="parameters" element="tns:listarDepartamentos"/>
</message>
<message name="listarDepartamentosResponse">
<part name="parameters" element="tns:listarDepartamentosResponse"/>
</message>
<message name="listarActividadesConfirmadasDeptoArreglo">
<part name="parameters" element="tns:listarActividadesConfirmadasDeptoArreglo"/>
</message>
<message name="listarActividadesConfirmadasDeptoArregloResponse">
<part name="parameters" element="tns:listarActividadesConfirmadasDeptoArregloResponse"/>
</message>
<message name="getActsProveedorBD">
<part name="parameters" element="tns:getActsProveedorBD"/>
</message>
<message name="getActsProveedorBDResponse">
<part name="parameters" element="tns:getActsProveedorBDResponse"/>
</message>
<message name="getUsuarioDB">
<part name="parameters" element="tns:getUsuarioDB"/>
</message>
<message name="getUsuarioDBResponse">
<part name="parameters" element="tns:getUsuarioDBResponse"/>
</message>
<message name="getSeguidoresBD">
<part name="parameters" element="tns:getSeguidoresBD"/>
</message>
<message name="getSeguidoresBDResponse">
<part name="parameters" element="tns:getSeguidoresBDResponse"/>
</message>
<message name="getSeguidosBD">
<part name="parameters" element="tns:getSeguidosBD"/>
</message>
<message name="getSeguidosBDResponse">
<part name="parameters" element="tns:getSeguidosBDResponse"/>
</message>
<message name="seguirUsuario">
<part name="parameters" element="tns:seguirUsuario"/>
</message>
<message name="seguirUsuarioResponse">
<part name="parameters" element="tns:seguirUsuarioResponse"/>
</message>
<message name="dejarDeSeguirUsuario">
<part name="parameters" element="tns:dejarDeSeguirUsuario"/>
</message>
<message name="dejarDeSeguirUsuarioResponse">
<part name="parameters" element="tns:dejarDeSeguirUsuarioResponse"/>
</message>
<message name="getTuristaDB">
<part name="parameters" element="tns:getTuristaDB"/>
</message>
<message name="getTuristaDBResponse">
<part name="parameters" element="tns:getTuristaDBResponse"/>
</message>
<message name="tieneSalidasActivasAct">
<part name="parameters" element="tns:tieneSalidasActivasAct"/>
</message>
<message name="tieneSalidasActivasActResponse">
<part name="parameters" element="tns:tieneSalidasActivasActResponse"/>
</message>
<message name="finalizarActividad">
<part name="parameters" element="tns:finalizarActividad"/>
</message>
<message name="finalizarActividadResponse">
<part name="parameters" element="tns:finalizarActividadResponse"/>
</message>
<message name="getActsFavoritasUsr">
<part name="parameters" element="tns:getActsFavoritasUsr"/>
</message>
<message name="getActsFavoritasUsrResponse">
<part name="parameters" element="tns:getActsFavoritasUsrResponse"/>
</message>
<message name="toggleActFavorita">
<part name="parameters" element="tns:toggleActFavorita"/>
</message>
<message name="toggleActFavoritaResponse">
<part name="parameters" element="tns:toggleActFavoritaResponse"/>
</message>
<message name="aumentarVisitasActividad">
<part name="parameters" element="tns:aumentarVisitasActividad"/>
</message>
<message name="aumentarVisitasActividadResponse">
<part name="parameters" element="tns:aumentarVisitasActividadResponse"/>
</message>
<message name="aumentarVisitasSalida">
<part name="parameters" element="tns:aumentarVisitasSalida"/>
</message>
<message name="aumentarVisitasSalidaResponse">
<part name="parameters" element="tns:aumentarVisitasSalidaResponse"/>
</message>
<message name="buscarActividades">
<part name="parameters" element="tns:buscarActividades"/>
</message>
<message name="buscarActividadesResponse">
<part name="parameters" element="tns:buscarActividadesResponse"/>
</message>
<message name="buscarPaquetes">
<part name="parameters" element="tns:buscarPaquetes"/>
</message>
<message name="buscarPaquetesResponse">
<part name="parameters" element="tns:buscarPaquetesResponse"/>
</message>
<portType name="WSSistema">
<operation name="AltaActividadTuristica">
<input wsam:Action="http://webservice/WSSistema/AltaActividadTuristicaRequest" message="tns:AltaActividadTuristica"/>
<output wsam:Action="http://webservice/WSSistema/AltaActividadTuristicaResponse" message="tns:AltaActividadTuristicaResponse"/>
</operation>
<operation name="modificarDatosUsuario">
<input wsam:Action="http://webservice/WSSistema/modificarDatosUsuarioRequest" message="tns:modificarDatosUsuario"/>
<output wsam:Action="http://webservice/WSSistema/modificarDatosUsuarioResponse" message="tns:modificarDatosUsuarioResponse"/>
<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" wsam:Action="http://webservice/WSSistema/modificarDatosUsuario/Fault/UsuarioNoExisteException"/>
</operation>
<operation name="verInfoUsuario">
<input wsam:Action="http://webservice/WSSistema/verInfoUsuarioRequest" message="tns:verInfoUsuario"/>
<output wsam:Action="http://webservice/WSSistema/verInfoUsuarioResponse" message="tns:verInfoUsuarioResponse"/>
<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" wsam:Action="http://webservice/WSSistema/verInfoUsuario/Fault/UsuarioNoExisteException"/>
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://webservice/WSSistema/getUsuariosRequest" message="tns:getUsuarios"/>
<output wsam:Action="http://webservice/WSSistema/getUsuariosResponse" message="tns:getUsuariosResponse"/>
<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" wsam:Action="http://webservice/WSSistema/getUsuarios/Fault/UsuarioNoExisteException"/>
</operation>
<operation name="AltaSalidaTuristicaDepto">
<input wsam:Action="http://webservice/WSSistema/AltaSalidaTuristicaDeptoRequest" message="tns:AltaSalidaTuristicaDepto"/>
<output wsam:Action="http://webservice/WSSistema/AltaSalidaTuristicaDeptoResponse" message="tns:AltaSalidaTuristicaDeptoResponse"/>
</operation>
<operation name="ConsultaActTuristica">
<input wsam:Action="http://webservice/WSSistema/ConsultaActTuristicaRequest" message="tns:ConsultaActTuristica"/>
<output wsam:Action="http://webservice/WSSistema/ConsultaActTuristicaResponse" message="tns:ConsultaActTuristicaResponse"/>
</operation>
<operation name="confirmarInscripcion">
<input wsam:Action="http://webservice/WSSistema/confirmarInscripcionRequest" message="tns:confirmarInscripcion"/>
<output wsam:Action="http://webservice/WSSistema/confirmarInscripcionResponse" message="tns:confirmarInscripcionResponse"/>
</operation>
<operation name="selectDepartamento">
<input wsam:Action="http://webservice/WSSistema/selectDepartamentoRequest" message="tns:selectDepartamento"/>
<output wsam:Action="http://webservice/WSSistema/selectDepartamentoResponse" message="tns:selectDepartamentoResponse"/>
</operation>
<operation name="selectActividad">
<input wsam:Action="http://webservice/WSSistema/selectActividadRequest" message="tns:selectActividad"/>
<output wsam:Action="http://webservice/WSSistema/selectActividadResponse" message="tns:selectActividadResponse"/>
</operation>
<operation name="selectPaquete">
<input wsam:Action="http://webservice/WSSistema/selectPaqueteRequest" message="tns:selectPaquete"/>
<output wsam:Action="http://webservice/WSSistema/selectPaqueteResponse" message="tns:selectPaqueteResponse"/>
</operation>
<operation name="inscripcionSalida">
<input wsam:Action="http://webservice/WSSistema/inscripcionSalidaRequest" message="tns:inscripcionSalida"/>
<output wsam:Action="http://webservice/WSSistema/inscripcionSalidaResponse" message="tns:inscripcionSalidaResponse"/>
</operation>
<operation name="getObjectsFromDB">
<input wsam:Action="http://webservice/WSSistema/getObjectsFromDBRequest" message="tns:getObjectsFromDB"/>
<output wsam:Action="http://webservice/WSSistema/getObjectsFromDBResponse" message="tns:getObjectsFromDBResponse"/>
</operation>
<operation name="estaSeguidofromDB">
<input wsam:Action="http://webservice/WSSistema/estaSeguidofromDBRequest" message="tns:estaSeguidofromDB"/>
<output wsam:Action="http://webservice/WSSistema/estaSeguidofromDBResponse" message="tns:estaSeguidofromDBResponse"/>
</operation>
<operation name="confirmarCreacionPaquete">
<input wsam:Action="http://webservice/WSSistema/confirmarCreacionPaqueteRequest" message="tns:confirmarCreacionPaquete"/>
<output wsam:Action="http://webservice/WSSistema/confirmarCreacionPaqueteResponse" message="tns:confirmarCreacionPaqueteResponse"/>
</operation>
<operation name="registrarUsuario">
<input wsam:Action="http://webservice/WSSistema/registrarUsuarioRequest" message="tns:registrarUsuario"/>
<output wsam:Action="http://webservice/WSSistema/registrarUsuarioResponse" message="tns:registrarUsuarioResponse"/>
<fault message="tns:UsuarioRepetidoException" name="UsuarioRepetidoException" wsam:Action="http://webservice/WSSistema/registrarUsuario/Fault/UsuarioRepetidoException"/>
</operation>
<operation name="InscribirTurAPaquete">
<input wsam:Action="http://webservice/WSSistema/InscribirTurAPaqueteRequest" message="tns:InscribirTurAPaquete"/>
<output wsam:Action="http://webservice/WSSistema/InscribirTurAPaqueteResponse" message="tns:InscribirTurAPaqueteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservice/WSSistema/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice/WSSistema/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="estaInscritoTuristaSalida">
<input wsam:Action="http://webservice/WSSistema/estaInscritoTuristaSalidaRequest" message="tns:estaInscritoTuristaSalida"/>
<output wsam:Action="http://webservice/WSSistema/estaInscritoTuristaSalidaResponse" message="tns:estaInscritoTuristaSalidaResponse"/>
</operation>
<operation name="excedeLimiteInscripcion">
<input wsam:Action="http://webservice/WSSistema/excedeLimiteInscripcionRequest" message="tns:excedeLimiteInscripcion"/>
<output wsam:Action="http://webservice/WSSistema/excedeLimiteInscripcionResponse" message="tns:excedeLimiteInscripcionResponse"/>
</operation>
<operation name="obtenerSalidasInscritasTurista">
<input wsam:Action="http://webservice/WSSistema/obtenerSalidasInscritasTuristaRequest" message="tns:obtenerSalidasInscritasTurista"/>
<output wsam:Action="http://webservice/WSSistema/obtenerSalidasInscritasTuristaResponse" message="tns:obtenerSalidasInscritasTuristaResponse"/>
</operation>
<operation name="validarCredenciales">
<input wsam:Action="http://webservice/WSSistema/validarCredencialesRequest" message="tns:validarCredenciales"/>
<output wsam:Action="http://webservice/WSSistema/validarCredencialesResponse" message="tns:validarCredencialesResponse"/>
</operation>
<operation name="verInfoUsuarioNick">
<input wsam:Action="http://webservice/WSSistema/verInfoUsuarioNickRequest" message="tns:verInfoUsuarioNick"/>
<output wsam:Action="http://webservice/WSSistema/verInfoUsuarioNickResponse" message="tns:verInfoUsuarioNickResponse"/>
</operation>
<operation name="getAllPaqsFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllPaqsFromBDRequest" message="tns:getAllPaqsFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllPaqsFromBDResponse" message="tns:getAllPaqsFromBDResponse"/>
</operation>
<operation name="getAllActsFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllActsFromBDRequest" message="tns:getAllActsFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllActsFromBDResponse" message="tns:getAllActsFromBDResponse"/>
</operation>
<operation name="infoActividad">
<input wsam:Action="http://webservice/WSSistema/infoActividadRequest" message="tns:infoActividad"/>
<output wsam:Action="http://webservice/WSSistema/infoActividadResponse" message="tns:infoActividadResponse"/>
</operation>
<operation name="getSalidaByNombre">
<input wsam:Action="http://webservice/WSSistema/getSalidaByNombreRequest" message="tns:getSalidaByNombre"/>
<output wsam:Action="http://webservice/WSSistema/getSalidaByNombreResponse" message="tns:getSalidaByNombreResponse"/>
</operation>
<operation name="getTipo">
<input wsam:Action="http://webservice/WSSistema/getTipoRequest" message="tns:getTipo"/>
<output wsam:Action="http://webservice/WSSistema/getTipoResponse" message="tns:getTipoResponse"/>
</operation>
<operation name="getAllCatsFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllCatsFromBDRequest" message="tns:getAllCatsFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllCatsFromBDResponse" message="tns:getAllCatsFromBDResponse"/>
</operation>
<operation name="getAllActsFromPaqFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllActsFromPaqFromBDRequest" message="tns:getAllActsFromPaqFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllActsFromPaqFromBDResponse" message="tns:getAllActsFromPaqFromBDResponse"/>
</operation>
<operation name="infoPaquete">
<input wsam:Action="http://webservice/WSSistema/infoPaqueteRequest" message="tns:infoPaquete"/>
<output wsam:Action="http://webservice/WSSistema/infoPaqueteResponse" message="tns:infoPaqueteResponse"/>
</operation>
<operation name="getAllActsdeCatFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllActsdeCatFromBDRequest" message="tns:getAllActsdeCatFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllActsdeCatFromBDResponse" message="tns:getAllActsdeCatFromBDResponse"/>
</operation>
<operation name="getAllDepFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllDepFromBDRequest" message="tns:getAllDepFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllDepFromBDResponse" message="tns:getAllDepFromBDResponse"/>
</operation>
<operation name="getAllActsdeDepFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllActsdeDepFromBDRequest" message="tns:getAllActsdeDepFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllActsdeDepFromBDResponse" message="tns:getAllActsdeDepFromBDResponse"/>
</operation>
<operation name="selectActFromDB">
<input wsam:Action="http://webservice/WSSistema/selectActFromDBRequest" message="tns:selectActFromDB"/>
<output wsam:Action="http://webservice/WSSistema/selectActFromDBResponse" message="tns:selectActFromDBResponse"/>
</operation>
<operation name="getAllCatsdeActFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllCatsdeActFromBDRequest" message="tns:getAllCatsdeActFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllCatsdeActFromBDResponse" message="tns:getAllCatsdeActFromBDResponse"/>
</operation>
<operation name="selectCatFromDB">
<input wsam:Action="http://webservice/WSSistema/selectCatFromDBRequest" message="tns:selectCatFromDB"/>
<output wsam:Action="http://webservice/WSSistema/selectCatFromDBResponse" message="tns:selectCatFromDBResponse"/>
</operation>
<operation name="getAllPaqsdeActFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllPaqsdeActFromBDRequest" message="tns:getAllPaqsdeActFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllPaqsdeActFromBDResponse" message="tns:getAllPaqsdeActFromBDResponse"/>
</operation>
<operation name="getAllSaldeActFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllSaldeActFromBDRequest" message="tns:getAllSaldeActFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllSaldeActFromBDResponse" message="tns:getAllSaldeActFromBDResponse"/>
</operation>
<operation name="getSalidaFromBD">
<input wsam:Action="http://webservice/WSSistema/getSalidaFromBDRequest" message="tns:getSalidaFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getSalidaFromBDResponse" message="tns:getSalidaFromBDResponse"/>
</operation>
<operation name="getPaqFromBD">
<input wsam:Action="http://webservice/WSSistema/getPaqFromBDRequest" message="tns:getPaqFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getPaqFromBDResponse" message="tns:getPaqFromBDResponse"/>
</operation>
<operation name="getAllPaqsConActFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllPaqsConActFromBDRequest" message="tns:getAllPaqsConActFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllPaqsConActFromBDResponse" message="tns:getAllPaqsConActFromBDResponse"/>
</operation>
<operation name="getAllCatFromPaqFromBD">
<input wsam:Action="http://webservice/WSSistema/getAllCatFromPaqFromBDRequest" message="tns:getAllCatFromPaqFromBD"/>
<output wsam:Action="http://webservice/WSSistema/getAllCatFromPaqFromBDResponse" message="tns:getAllCatFromPaqFromBDResponse"/>
</operation>
<operation name="TurConPaqFromBD">
<input wsam:Action="http://webservice/WSSistema/TurConPaqFromBDRequest" message="tns:TurConPaqFromBD"/>
<output wsam:Action="http://webservice/WSSistema/TurConPaqFromBDResponse" message="tns:TurConPaqFromBDResponse"/>
</operation>
<operation name="mergeInscrPaq">
<input wsam:Action="http://webservice/WSSistema/mergeInscrPaqRequest" message="tns:mergeInscrPaq"/>
<output wsam:Action="http://webservice/WSSistema/mergeInscrPaqResponse" message="tns:mergeInscrPaqResponse"/>
</operation>
<operation name="listarPaqInscritoTurContieneAct">
<input wsam:Action="http://webservice/WSSistema/listarPaqInscritoTurContieneActRequest" message="tns:listarPaqInscritoTurContieneAct"/>
<output wsam:Action="http://webservice/WSSistema/listarPaqInscritoTurContieneActResponse" message="tns:listarPaqInscritoTurContieneActResponse"/>
</operation>
<operation name="listarDepartamentos">
<input wsam:Action="http://webservice/WSSistema/listarDepartamentosRequest" message="tns:listarDepartamentos"/>
<output wsam:Action="http://webservice/WSSistema/listarDepartamentosResponse" message="tns:listarDepartamentosResponse"/>
</operation>
<operation name="listarActividadesConfirmadasDeptoArreglo">
<input wsam:Action="http://webservice/WSSistema/listarActividadesConfirmadasDeptoArregloRequest" message="tns:listarActividadesConfirmadasDeptoArreglo"/>
<output wsam:Action="http://webservice/WSSistema/listarActividadesConfirmadasDeptoArregloResponse" message="tns:listarActividadesConfirmadasDeptoArregloResponse"/>
</operation>
<operation name="getActsProveedorBD">
<input wsam:Action="http://webservice/WSSistema/getActsProveedorBDRequest" message="tns:getActsProveedorBD"/>
<output wsam:Action="http://webservice/WSSistema/getActsProveedorBDResponse" message="tns:getActsProveedorBDResponse"/>
</operation>
<operation name="getUsuarioDB">
<input wsam:Action="http://webservice/WSSistema/getUsuarioDBRequest" message="tns:getUsuarioDB"/>
<output wsam:Action="http://webservice/WSSistema/getUsuarioDBResponse" message="tns:getUsuarioDBResponse"/>
</operation>
<operation name="getSeguidoresBD">
<input wsam:Action="http://webservice/WSSistema/getSeguidoresBDRequest" message="tns:getSeguidoresBD"/>
<output wsam:Action="http://webservice/WSSistema/getSeguidoresBDResponse" message="tns:getSeguidoresBDResponse"/>
</operation>
<operation name="getSeguidosBD">
<input wsam:Action="http://webservice/WSSistema/getSeguidosBDRequest" message="tns:getSeguidosBD"/>
<output wsam:Action="http://webservice/WSSistema/getSeguidosBDResponse" message="tns:getSeguidosBDResponse"/>
</operation>
<operation name="seguirUsuario">
<input wsam:Action="http://webservice/WSSistema/seguirUsuarioRequest" message="tns:seguirUsuario"/>
<output wsam:Action="http://webservice/WSSistema/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
</operation>
<operation name="dejarDeSeguirUsuario">
<input wsam:Action="http://webservice/WSSistema/dejarDeSeguirUsuarioRequest" message="tns:dejarDeSeguirUsuario"/>
<output wsam:Action="http://webservice/WSSistema/dejarDeSeguirUsuarioResponse" message="tns:dejarDeSeguirUsuarioResponse"/>
</operation>
<operation name="getTuristaDB">
<input wsam:Action="http://webservice/WSSistema/getTuristaDBRequest" message="tns:getTuristaDB"/>
<output wsam:Action="http://webservice/WSSistema/getTuristaDBResponse" message="tns:getTuristaDBResponse"/>
</operation>
<operation name="tieneSalidasActivasAct">
<input wsam:Action="http://webservice/WSSistema/tieneSalidasActivasActRequest" message="tns:tieneSalidasActivasAct"/>
<output wsam:Action="http://webservice/WSSistema/tieneSalidasActivasActResponse" message="tns:tieneSalidasActivasActResponse"/>
</operation>
<operation name="finalizarActividad">
<input wsam:Action="http://webservice/WSSistema/finalizarActividadRequest" message="tns:finalizarActividad"/>
<output wsam:Action="http://webservice/WSSistema/finalizarActividadResponse" message="tns:finalizarActividadResponse"/>
</operation>
<operation name="getActsFavoritasUsr">
<input wsam:Action="http://webservice/WSSistema/getActsFavoritasUsrRequest" message="tns:getActsFavoritasUsr"/>
<output wsam:Action="http://webservice/WSSistema/getActsFavoritasUsrResponse" message="tns:getActsFavoritasUsrResponse"/>
</operation>
<operation name="toggleActFavorita">
<input wsam:Action="http://webservice/WSSistema/toggleActFavoritaRequest" message="tns:toggleActFavorita"/>
<output wsam:Action="http://webservice/WSSistema/toggleActFavoritaResponse" message="tns:toggleActFavoritaResponse"/>
</operation>
<operation name="aumentarVisitasActividad">
<input wsam:Action="http://webservice/WSSistema/aumentarVisitasActividadRequest" message="tns:aumentarVisitasActividad"/>
<output wsam:Action="http://webservice/WSSistema/aumentarVisitasActividadResponse" message="tns:aumentarVisitasActividadResponse"/>
</operation>
<operation name="aumentarVisitasSalida">
<input wsam:Action="http://webservice/WSSistema/aumentarVisitasSalidaRequest" message="tns:aumentarVisitasSalida"/>
<output wsam:Action="http://webservice/WSSistema/aumentarVisitasSalidaResponse" message="tns:aumentarVisitasSalidaResponse"/>
</operation>
<operation name="buscarActividades">
<input wsam:Action="http://webservice/WSSistema/buscarActividadesRequest" message="tns:buscarActividades"/>
<output wsam:Action="http://webservice/WSSistema/buscarActividadesResponse" message="tns:buscarActividadesResponse"/>
</operation>
<operation name="buscarPaquetes">
<input wsam:Action="http://webservice/WSSistema/buscarPaquetesRequest" message="tns:buscarPaquetes"/>
<output wsam:Action="http://webservice/WSSistema/buscarPaquetesResponse" message="tns:buscarPaquetesResponse"/>
</operation>
</portType>
<binding name="WSSistemaPortBinding" type="tns:WSSistema">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AltaActividadTuristica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarDatosUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsuarioNoExisteException">
<soap:fault name="UsuarioNoExisteException" use="literal"/>
</fault>
</operation>
<operation name="verInfoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsuarioNoExisteException">
<soap:fault name="UsuarioNoExisteException" use="literal"/>
</fault>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsuarioNoExisteException">
<soap:fault name="UsuarioNoExisteException" use="literal"/>
</fault>
</operation>
<operation name="AltaSalidaTuristicaDepto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaActTuristica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmarInscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inscripcionSalida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObjectsFromDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="estaSeguidofromDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmarCreacionPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsuarioRepetidoException">
<soap:fault name="UsuarioRepetidoException" use="literal"/>
</fault>
</operation>
<operation name="InscribirTurAPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="estaInscritoTuristaSalida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excedeLimiteInscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerSalidasInscritasTurista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarCredenciales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verInfoUsuarioNick">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPaqsFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllActsFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="infoActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSalidaByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCatsFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllActsFromPaqFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="infoPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllActsdeCatFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDepFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllActsdeDepFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectActFromDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCatsdeActFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectCatFromDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPaqsdeActFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSaldeActFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSalidaFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPaqFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPaqsConActFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCatFromPaqFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TurConPaqFromBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mergeInscrPaq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPaqInscritoTurContieneAct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDepartamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarActividadesConfirmadasDeptoArreglo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActsProveedorBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeguidoresBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeguidosBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dejarDeSeguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTuristaDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tieneSalidasActivasAct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finalizarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActsFavoritasUsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toggleActFavorita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aumentarVisitasActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aumentarVisitasSalida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPaquetes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSSistema">
<port name="WSSistemaPort" binding="tns:WSSistemaPortBinding">
<soap:address location="http://localhost:8080/ServerCentral/WSSistema"/>
</port>
</service>
</definitions>